.sb-h{
    border-bottom: 1px solid #43CEED;
    font-size: 14px;
    color:#43CEED;
    font-family: "mukta";
    font-weight: 600;
  }
  .side-bar{
    background-color: #202020;
    height : 88vh;
  }
  .list-group{
    background-color: #202020;
  
  }
  .list-group-item{
    background-color: #202020;
    border: none !important;
    border-bottom: 1px solid grey !important;
    color: white !important;
    font-size: 12px;
    font-family: "mukta";
    font-weight: 600;
  
  }
  .list-group-item:hover{
    translate: 3px 0px 0px;
    transition: .5s ease;
    border-left: 2px solid #fa5004 !important;
  }
  .side-icon{
    height: 20px;
    color: white !important;
    /* background-color: white; */
    border: none !important;
    opacity: 1;
  }
  .menu{
    background-color: #302f2f;
    color: white;
    font-family: "mukta";
    font-weight: 500;
    border-top: 1px solid grey;
    height : 30px;
    
  }
  @media screen and (max-width: 550px){
    .side-bar{
        width: 200px;
        
        /* position: absolute; */
        /* z-index: 9999; */
        /* top: 40; */
        /* bottom: 30; */
    }


}

  